@inherits LayoutComponentBase

<PureHeader Title="NATS Viewer">
    <a aria-label="Overview" href="/" class="mr-5 hover:text-white cursor-pointer">Overview</a>
    <a aria-label="JetStream" href="/jetstream" class="mr-5 hover:text-white cursor-pointer">JetStream</a>
</PureHeader>
<main>
    <article class="p-4">
        @Body
    </article>
</main>

@* <div id="blazor-error-ui"> *@
@*     An unhandled error has occurred. *@
@*     <a href="" class="reload">Reload</a> *@
@*     <a class="dismiss">🗙</a> *@
@* </div> *@