@page "/"
@using Humanizer
@inject NatsMonitorClient Client

<PageTitle>Overview</PageTitle>
<Header1>Overview</Header1>

@if (HealthCheckResult?.Healthy == false)
{
<PureBanner Accent="Accent.Warning" Styles="mb-2">NATS server unavailable. Is your service running?</PureBanner>
}
<div class="grid grid-cols-2 gap-4 text-sm">
<PureCard Title="Server Info">
    <div>
        <PureLabel>Server ID</PureLabel>
        <PureText>@ServerInfo?.ServerId</PureText>
    </div>
    <div class="pb-3">
        <PureLabel>Server Name</PureLabel>
        <PureText>@ServerInfo?.ServerName</PureText>
    </div>
    <div class="flex border-t border-gray-300 pt-3">
        <div>
            <div>
                <PureLabel>Version</PureLabel>
                <PureText>@ServerInfo?.Version</PureText>
            </div>
            <div>
                <PureLabel>Proto</PureLabel>
                <PureText>@ServerInfo?.Proto</PureText>
            </div>
            <div>
                <PureLabel>Git Commit</PureLabel>
                <PureText>@ServerInfo?.GitCommit</PureText>
            </div>
            <div>
                <PureLabel>Go</PureLabel>
                <PureText>@ServerInfo?.Go</PureText>
            </div>
            <div>
                <PureLabel>Host</PureLabel>
                <PureText>@ServerInfo?.Host</PureText>
            </div>
            <div>
                <PureLabel>Port</PureLabel>
                <PureText>@ServerInfo?.Port</PureText>
            </div>
            <div>
                <PureLabel>Max Connections</PureLabel>
                <PureText>@ServerInfo?.MaxConnections</PureText>
            </div>
            <div>
                <PureLabel>Ping Interval</PureLabel>
                <PureText>@ServerInfo?.PingInterval</PureText>
            </div>
            <div>
                <PureLabel>Ping Max</PureLabel>
                <PureText>@ServerInfo?.PingMax</PureText>
            </div>
            <div>
                <PureLabel>HTTP Host</PureLabel>
                <PureText>@ServerInfo?.HttpHost</PureText>
            </div>
            <div>
                <PureLabel>HTTP Port</PureLabel>
                <PureText>@ServerInfo?.HttpPort</PureText>
            </div>
            <div>
                <PureLabel>HTTP Base Path</PureLabel>
                <PureText>@ServerInfo?.HttpBasePath</PureText>
            </div>
            <div>
                <PureLabel>HTTPS Port</PureLabel>
                <PureText>@ServerInfo?.HttpsPort</PureText>
            </div>
            <div>
                <PureLabel>Auth Timeout</PureLabel>
                <PureText>@ServerInfo?.AuthTimeout</PureText>
            </div>
            <div>
                <PureLabel>Max Control Line</PureLabel>
                <PureText>@ServerInfo?.MaxControlLine</PureText>
            </div>
            <div>
                <PureLabel>Max Payload</PureLabel>
                <PureText>@ServerInfo?.MaxPayload</PureText>
            </div>
            <div>
                <PureLabel>Max Pending</PureLabel>
                <PureText>@ServerInfo?.MaxPending</PureText>
            </div>
            <div>
                <PureLabel>TLS Timeout</PureLabel>
                <PureText>@ServerInfo?.TlsTimeout</PureText>
            </div>
            <div>
                <PureLabel>Write Deadline</PureLabel>
                <PureText>@ServerInfo?.WriteDeadline</PureText>
            </div>
            <div>
                <PureLabel>Start</PureLabel>
                <PureText>@ServerInfo?.Start</PureText>
            </div>
            <div>
                <PureLabel>Now</PureLabel>
                <PureText>@ServerInfo?.Now</PureText>
            </div>
        </div>
        <div>
            <div>
                <PureLabel>Uptime</PureLabel>
                <PureText>@ServerInfo?.Uptime</PureText>
            </div>
            <div>
                <PureLabel>Memory</PureLabel>
                <PureText>@ServerInfo?.Mem</PureText>
            </div>
            <div>
                <PureLabel>Cores</PureLabel>
                <PureText>@ServerInfo?.Cores</PureText>
            </div>
            <div>
                <PureLabel>Go Max Procs</PureLabel>
                <PureText>@ServerInfo?.Gomaxprocs</PureText>
            </div>
            <div>
                <PureLabel>CPU</PureLabel>
                <PureText>@ServerInfo?.Cpu</PureText>
            </div>
            <div>
                <PureLabel>Connections</PureLabel>
                <PureText>@ServerInfo?.Connections</PureText>
            </div>
            <div>
                <PureLabel>Total Connections</PureLabel>
                <PureText>@ServerInfo?.TotalConnections</PureText>
            </div>
            <div>
                <PureLabel>Routes</PureLabel>
                <PureText>@ServerInfo?.Routes</PureText>
            </div>
            <div>
                <PureLabel>Remotes</PureLabel>
                <PureText>@ServerInfo?.Remotes</PureText>
            </div>
            <div>
                <PureLabel>Leaf Nodes</PureLabel>
                <PureText>@ServerInfo?.Leafnodes</PureText>
            </div>
            <div>
                <PureLabel>In Messages</PureLabel>
                <PureText>@ServerInfo?.InMsgs</PureText>
            </div>
            <div>
                <PureLabel>Out Messages</PureLabel>
                <PureText>@ServerInfo?.OutMsgs</PureText>
            </div>
            <div>
                <PureLabel>In Bytes</PureLabel>
                <PureText>@ServerInfo?.InBytes</PureText>
            </div>
            <div>
                <PureLabel>Out Bytes</PureLabel>
                <PureText>@ServerInfo?.OutBytes</PureText>
            </div>
            <div>
                <PureLabel>Slow Consumers</PureLabel>
                <PureText>@ServerInfo?.SlowConsumers</PureText>
            </div>
            <div>
                <PureLabel>Subscriptions</PureLabel>
                <PureText>@ServerInfo?.Subscriptions</PureText>
            </div>
            <div>
                <PureLabel>Config Load Time</PureLabel>
                <PureText>@ServerInfo?.ConfigLoadTime</PureText>
            </div>
            <div>
                <PureLabel>System Account</PureLabel>
                <PureText>@ServerInfo?.SystemAccount</PureText>
            </div>
        </div>
    </div>
</PureCard>
<div class="flex flex-col gap-4">
    <PureCard Title="JetStream" Styles="bg-gray-50">
        <div class="flex gap-4">
            <div>
                <div>
                    <PureLabel>Max Memory</PureLabel>
                    <PureText>@ServerInfo?.JetStream?.Config?.MaxMemory.Kilobytes()</PureText>
                </div>
                <div>
                    <PureLabel>Max Storage</PureLabel>
                    <PureText>@ServerInfo?.JetStream?.Config?.MaxStorage.Kilobytes()</PureText>
                </div>
                <div>
                    <PureLabel>Store Dir</PureLabel>
                    <PureText>@ServerInfo?.JetStream?.Config?.StoreDir</PureText>
                </div>
                <div>
                    <PureLabel>Sync Interval</PureLabel>
                    <PureText>@ServerInfo?.JetStream?.Config?.SyncInterval</PureText>
                </div>
            </div>
            <div>
                <div>
                    <PureLabel>Memory</PureLabel>
                    <PureText>@ServerInfo?.JetStream?.Stats?.Memory.Kilobytes()</PureText>
                </div>
                <div>
                    <PureLabel>Storage</PureLabel>
                    <PureText>@ServerInfo?.JetStream?.Stats?.Storage.Kilobytes()</PureText>
                </div>
                <div>
                    <PureLabel>Reserved Memory</PureLabel>
                    <PureText>@ServerInfo?.JetStream?.Stats?.ReservedMemory.Kilobytes()</PureText>
                </div>
                <div>
                    <PureLabel>Reserved Storage</PureLabel>
                    <PureText>@ServerInfo?.JetStream?.Stats?.ReservedStorage.Kilobytes()</PureText>
                </div>
                <div>
                    <PureLabel>Accounts</PureLabel>
                    <PureText>@ServerInfo?.JetStream?.Stats?.Accounts</PureText>
                </div>
                <div>
                    <PureLabel>HA Assets</PureLabel>
                    <PureText>@ServerInfo?.JetStream?.Stats?.HaAssets</PureText>
                </div>
            </div>
        </div>
    </PureCard>

    <PureCard Title="API Stats">
        <div>
            <PureLabel>Total</PureLabel>
            <PureText>@ServerInfo?.JetStream?.Stats?.Api?.Total</PureText>
        </div>
        <div>
            <PureLabel>Errors</PureLabel>
            <PureText>@ServerInfo?.JetStream?.Stats?.Api?.Errors</PureText>
        </div>
    </PureCard>

    <PureCard Title="Slow Consumer Stats">
        <div>
            <PureLabel>Clients</PureLabel>
            <PureText>@ServerInfo?.SlowConsumerStats?.Clients</PureText>
        </div>
        <div>
            <PureLabel>Routes</PureLabel>
            <PureText>@ServerInfo?.SlowConsumerStats?.Routes</PureText>
        </div>
        <div>
            <PureLabel>Gateways</PureLabel>
            <PureText>@ServerInfo?.SlowConsumerStats?.Gateways</PureText>
        </div>
        <div>
            <PureLabel>Leafs</PureLabel>
            <PureText>@ServerInfo?.SlowConsumerStats?.Leafs</PureText>
        </div>
    </PureCard>
</div>
</div>

@code {
    private HealthCheckResult? HealthCheckResult { get; set; }
    private ServerInfo? ServerInfo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ServerInfo = await Client.GetServerInfo();
        HealthCheckResult = await Client.HealthCheck();
        // await using var nats = new NatsConnection();
        // var js = new NatsJSContext(nats);
        //
        // await js.CreateStreamAsync(new StreamConfig(name: "orders", subjects: new[] { "orders.>" }));
        //
        // var consumer = await js.CreateOrderedConsumerAsync("HOSTING");
        // consumer.ConsumeAsync(null, null, CancellationToken.None);
    }

}